{
  "extends": ["@nuxtjs/eslint-config-typescript", "plugin:nuxt/recommended"],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "jsx-quotes": ["error", "prefer-single"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "vue/html-self-closing": "off",
    "vue/singleline-html-element-content-newline": "off"
  }
}
